.icon_font{
    .fa:before {
        color: #00A78D;
        font-size: 22px;
    }
}

.listIcon{
    font-size: 2.5rem !important;
}

.iconBgColor{
    background-color: #00A78D;
    color: white
}

.customIconColor{
    color: #00A78D;
    font-size: 32px
}

.text-color {
    color: #00A78D !important;
}

.labelWidth{
    min-width: 120px;

}

.subHeadingColor {
    color: #00A78D;
    font-size: 18px;
    margin-bottom: 12px;
}

.addIconDivWidth{
    width: 85%;
}
.tariffHead{
    font-size: 15px;
    flex-shrink: 0;
    display: flex;
    flex-basis: 33.33%;
    align-items: center;
}

.bgTableHead{
    background-color: #f2f2f2;
}
.borderBtm:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0; /* This will center the border. */
    width: 25%; /* Change this to whatever width you want. */
    padding: 8px 45px 0 0; /* This creates some space between the element and the border. */
    border-bottom: 2px solid #00A78D; /* This creates the border. Replace black with whatever color you want. */
    transition: all ease-in-out .2s;
}
.MuiTableCell-root {
    padding: 1px 40px 1px 16px;
    // border-right: 1px solid rgba(224, 224, 224, 1);
    border-top: 1px solid rgba(224, 224, 224, 1);
    // border-left: 1px solid rgba(224, 224, 224, 1);
}

.ag-theme-material input:focus[class^='ag-']:not([type]), .ag-theme-material input:focus[class^='ag-'][type='text'], .ag-theme-material input:focus[class^='ag-'][type='number'], .ag-theme-material input:focus[class^='ag-'][type='tel'], .ag-theme-material input:focus[class^='ag-'][type='date'], .ag-theme-material input:focus[class^='ag-'][type='datetime-local'], .ag-theme-material textarea:focus[class^='ag-']{
    border-bottom: 2px solid #00A78D !important;
    outline: none;
    box-shadow: none;
}

.inputBorder{
    border: 1px solid rgba(136, 132, 132, 0.42);
    border-radius: 5px;
    padding: 5px 10px;

    &.MuiInput-underline:before{
        border-bottom: none
    }
    
}


.MuiInput-underline:hover:not(.Mui-disabled):before{
    border-bottom: none;
}

.MuiInput-underline:after{
    border-bottom: 1px solid rgba(136, 132, 132, 0.42);
}


//---------------------------------override button colors------------------------
.MuiButton-containedSecondary{
    background-color: #07af93;
}

.MuiButton-containedSecondary:hover, .MuiSwitch-colorPrimary.Mui-checked + .MuiSwitch-track {
    background-color: #00A78D;
}

.MuiButton-outlinedPrimary{
    color:#00A78D;
    border: 1px solid #00A78D;
}

.MuiButton-outlinedPrimary:hover{
    color:#00A78D;
    border: 1px solid #00A78D;
}

.MuiCheckbox-colorPrimary.Mui-checked, .MuiCheckbox-colorSecondary.Mui-checked, .MuiRadio-colorPrimary.Mui-checked,
.MuiSwitch-colorPrimary.Mui-checked{
    color: #00A78D !important
}


input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    margin: 0 20px;
    font-weight: 600;
    cursor: pointer;
}

.iconPassword {
    -webkit-text-security: disc !important;
    font-size: 14px;
}